{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true
    }],
    "react",
    "flow"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
